# phpstorm project files
.idea

# vscode project files
.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor
# composer lock file
/composer.lock
# composer itself is not needed
composer.phar

# PhpUnit
/phpunit.phar
/phpunit.xml
/.phpunit.cache
/.phpunit.result.cache

# Integration test configs (do not commit secrets)
tests/config/*.php
!tests/config/*.php.dist
